<div class="recent-activity">
<h3>Recent Activity</h3>
<%this.each(function(row){%>
     <div class="comment-div-1"><span class="activity_type activity_type_<%=row.activityType%>">&nbsp;</span><span><%=row.attr('subject')%></span></div>
     <div style="overflow:hidden;clear:both;">
        <div class="left post-by-img"><img src="img/<%=row.userid%>.png"></div>
        <div class="left">
            <div class="comment-div-2"><span><%=row.userName%></span><span><%=new Date(CURRENT_TIME-row.timestamp).getHours()%> hours ago</span><span>(<a href="#">Show more</a>)</span></div>
            <div><%=row.comment%></div>
            <div>
                reply
            </div>
        </div>
     </div>
<%})%>
</div>